.card {
  width: 413px;
  display: grid;
  gap: 10px 10px;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
}

.card__title {
  margin-bottom: 36px;
}

.card__like-btn {
  width: 23px;
  height: 20px;
  color: #212121;
  opacity: 40%;
  border: 2px;
}
