.cards {
  display: flex;
  margin-top: 20px;
  margin-left: 80px;
  display: grid;
  gap: 10px 10px;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 10px 10px;
}
