.cards {
  display: grid;
  gap: 10px 10px;
  display: grid;
  margin: 20px auto 60px;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 630px) {
  .cards {
    width: 288px;
  }
}
