.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__container {
}

.modal__title {
}

.button modal__close-btn {
  position: absolute;
}

.modal__form {
}

.modal__label {
}

.modal__input {
}

.button modal__submit-btn {
}
